.aboutMe {
  width: 100%;
  margin-top: -3rem;
  min-height: 90vh;
  // max-height: 100vh;
  padding: 15rem;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
// .mobMyImg {
//   display: none;
// }

.ghostText {
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 17rem;
  opacity: 0.2;
  color: $text-secondary;
  z-index: -1;
}
.cont-aboutMe {
  width: 50%;
  h2 {
    margin-bottom: 3rem;
  }
}
.Contimg1 {
  display: block;
  overflow: hidden;
  transition: all 0.5s linear;
  border-radius: 1.5rem;
}

.mobMyImg {
  display: none;
  overflow: hidden;
  transition: border-radius 0.2s linear;
  border-radius: 1.5rem;
}
.Contimg1:hover {
  border-radius: 1.5rem;
  // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.mobMyImg:hover {
  border-radius: 1.5rem;
}

.myImg {
  height: 40rem;
  transform: scale(1.02);
  // transition: transform 0.5s ease;
}
// .myImg:hover {
//   transform: scale(1.09) rotate(-4deg);
//   background-blend-mode: lighten;
// }
.infiScrollCont {
  // background-color: white;
  width: 250px;
  height: 48px;
  // border: 1px solid white;
  overflow: hidden;
  color: $color-primary;
  font-size: 2.56rem;
}
.infiScrollCont-whoAmI {
  width: 240px;
  display: flex;
  // border: 1px solid white;
}
// .whoAmI::after {
//   content: "who am i?";
//   font-size: 1.8rem;
//   // background-color: white;
//   // border-radius: 1px solid white;
//   width: 120%;
//   height: 100%;
//   padding: 2rem;
//   // display: inline-block;
//   margin: 2rem;
//   position: absolute;
//   top: -10%;
//   left: 0;
// }
.infinScrollHead {
  margin-right: 20px;
  animation: scrollText 3s infinite linear;
}
.infiScrollWrapper {
  display: flex;
}
.abtMeP {
  line-height: 30px;
  font-size: 1.7rem;
  text-align: justify;
  margin-top: 3rem;
}
.heighliteP {
  color: $color-primary;
}
