.aboutMe {
  width: 100%;
  margin-top: -3rem;
  min-height: 90vh;
  max-height: 100vh;
  padding: 15rem;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ghostText {
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 17rem;
  opacity: 0.2;
  color: $text-secondary;
  z-index: -1;
}
.cont-aboutMe {
  width: 50%;
  h2 {
    margin-bottom: 3rem;
  }
}
.Contimg1 {
  overflow: hidden;
  transition: border-radius 0.2s linear;
  border-radius: 1.5rem;
}
.Contimg1:hover {
  border-radius: 1.5rem;
}
.js-tilt-glare {
  border-radius: 1.5rem;
}
.myImg {
  height: 40rem;
  transform: scale(1.02);
  // transition: transform 0.5s ease;
}
// .myImg:hover {
//   transform: scale(1.09) rotate(-4deg);
//   background-blend-mode: lighten;
// }
