.mainHead {
  @include flexCenter(column);
  height: 90vh;
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  font-size: 4.5rem;
  // text-align: center;
  margin-top: -3rem;
  position: relative;
  overflow-x: hidden;
}
.freelanceTit {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  color: $text-secondary;
  margin: 0 0 2rem 3rem;
  // opacity: 0.8;
}
.Hero-wrapper {
  max-width: 100vw;
  overflow: hidden;
}
.circle {
  min-height: 70rem;
  min-width: 70rem;
  // background-color: white;
  position: absolute;
  top: 0;
  left: -20%;
  opacity: 0.6;
  border-radius: 50%;
  border: 1px solid $color-primary;
  z-index: -1;
}
.introp {
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: $text-secondary;
}
.hero-whole-wrapper {
  max-width: 100vw;
  overflow-x: hidden;
  margin-left: -1rem;
  // padding: 1rem;
}
// .mainHeadEl:hover ~ .cursor {
//   transform: scale(17);
// }
// .mainHeadEl {
//   display: block;
// }
// .revelaHead {
//   font-size: 1rem;
// }
.mainHeadEl {
  background-color: black;
  overflow: hidden;
}
.mainHeadEl span {
  display: inline-block;
  transform: translateY(100%);
  font-size: 5.5rem;
}
.firstLayer {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  border-top: 0.1rem solid $color-primary;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.boxHead {
  padding: 2rem;
  margin-top: -9rem;
}
// first layer
.firstLayer {
  height: 100vh;
  width: 100vw;
  @include flexCenter(column);
  p {
    margin-top: 3.5rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
  }
}
.signature {
  width: 50%;
  margin-top: -2rem;
}
// .textcircl-cont {
//   // overflow: hidden;
//   // margin-right: -2rem;
// }
.textCircle {
  position: absolute;
  bottom: 10%;
  right: -4%;
  height: 20rem;
}

.spanDiff {
  color: $color-primary;
  display: inline-block;
  // color: transparent;
  // -webkit-text-stroke: 0.5px $color-primary;
}
