.iUseSec {
  width: 100%;
  margin-top: 0rem;
  min-height: 95vh;
  // max-height: 100vh;
  padding: 1rem 15rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: top;
}
.infiScrollCont-iUse {
  width: 260px;
}
.infiScrollCont-iUse {
  display: flex;
  justify-content: center;
  align-items: center;
}
