@media screen and (max-width: 900px) {
  html {
    font-size: 55%;
    // max-width: 100vw;
    // overflow-x: hidden;
  }
  // body {
  //   // max-width: 100vw;
  //   // min-height: 100vh;
  //   // overflow-x: hidden;
  // }
  .nav-bar {
    padding: 15rem;
  }
  .link {
    &:hover {
      transform: scale(1.06);
    }

    &::before {
      background-color: $text-color;
    }
    &::after {
      background-color: $backgroundColor;
    }
  }
  .link-list {
    background-color: $text-color;
    position: fixed;
    max-width: 330px;
    min-height: 100%;
    z-index: 50;
    top: 0;
    left: 0;
    flex-direction: column;
    display: block;
    transform: translateX(-120%);
    transition: transform 0.5s linear;
    z-index: 3;
  }
  .whiteMenu {
    background-color: $color-primary;
    position: fixed;
    max-width: 330px;
    min-width: 320px;
    min-height: 100%;
    z-index: 50;
    top: 0;
    left: 0;
    flex-direction: column;
    display: block;
    transform: translateX(-120%);
    transition: transform 0.5s linear;
    transition-delay: 0.5s;
    z-index: -1;
  }
  // .links {
  //   // display: none;
  // }
  // .navSet {
  //   flex-direction: column;
  //   color: $backgroundColor;
  // }
  .links {
    display: block;
    color: $backgroundColor;
  }
  .logo {
    margin-left: -70%;
  }
  .burger {
    z-index: 80;
    span {
      background-color: $text-color;
      border-radius: 10px;
      margin: 0.7rem 1rem;
      display: block;
      padding: 0.2rem 1.8rem;
      width: 0.8rem;
      transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
      transition-property: transform, opacity;
    }
    .span1 {
      padding: 0.2rem 1rem;
      width: 1rem;
    }
    .span3 {
      padding: 0.2rem 1rem;
      width: 1.1rem;
    }
    .open {
      background-color: $backgroundColor;
    }

    .span1.open {
      transform: rotate(45deg) scaleX(2) translate(5.5px);
      transform-origin: center;
    }
    .span2.open {
      // transform: rotate(-45deg) translateX(2px);
      opacity: 0;
    }
    .span3.open {
      transform: rotate(-45deg) scaleX(2) translate(5.5px);
      // opacity: 0;
    }
    margin-right: 9%;
  }
  .hero-whole-wrapper {
    .circle {
      left: -30%;
      top: 20%;
      min-height: 45rem;
      min-width: 45rem;
    }
    .mainHead {
      max-width: 100%;
      overflow-x: hidden;
    }
  }
  .firstLayer {
    p {
      font-size: 2.5rem;
    }
    .signature {
      width: 70%;
    }
  }
  .aboutMe {
    flex-direction: column;
    padding: 8rem !important;
    // padding-bottom: 25rem !important;
    .cont-aboutMe {
      width: 100%;
    }
    .Contimg1 {
      margin-top: 1rem;
    }
    p {
      margin-bottom: 1rem;
    }
    .ghostText {
      font-size: 10rem;
      top: 0;
      left: 8%;
    }
  }
  .textCircle {
    position: absolute;
    bottom: -10%;
    right: 0;
    max-height: 15rem;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 40%;
  }
  // .mainHead {
  //   // height: 70vh;
  // }
  .nav-bar {
    padding: 5rem;
  }
  .aboutMe {
    .Contimg1 {
      margin-top: -3rem;
    }
  }
  .textCircle {
    position: absolute;
    bottom: -10%;
    right: 0;
    max-height: 25rem;
  }
  .boxHead {
    margin-top: -1.5rem;
  }
  .aboutMe {
    .myImg {
      height: 60rem;
    }
  }
  .cont-aboutMe {
    width: 50%;
    h2 {
      font-size: 2.4rem;
      margin-bottom: 3rem;
    }
    p {
      font-size: 2rem;
    }
    .myImg {
      width: 80%;
      object-fit: contain;
    }
  }
}
// @media screen and (max-width: 400px) {
//   html {
//     font-size: 40%;
//   }
//   .section {
//     heigth: 80vh;
//   }
// }
